include ../abstracts/variables
include layout/head
include layout/navbar
include layout/footer

block localVariables

doctype html
html(lang="en")
  +head(globalHeadProps, localHeadProps)
  body
    block content
      block header
        header
          include navbar
      block main
      block footer
        include footer
    block scripts
      if scriptPaths
        each scriptPath in scriptPaths
          script(src=scriptPath)
    //- - for (let scriptPath in scriptPaths)
    //-   script(src=scriptPaths[scriptPath])
