//- -----------------------------------------------------------------------------
//- This file contains all markup related to the generic base page of the site/application.
//- The intention is to construct a generic webpage with a navbar, hero, content, footer.
//- Vertical page flow.
//- -----------------------------------------------------------------------------

include ../abstracts/variables
include layout/head

block localVariables

doctype html
html(lang="en")
  +head(globalHeadProps, localHeadProps)
  body
    block content
      block header
        header
          include layout/navbar
      block main
      block footer
        include layout/footer
    block scripts
      if scriptPaths
        each scriptPath in scriptPaths
          script(src=scriptPath type="text/javascript")
    //- - for (let scriptPath in scriptPaths)
    //-   script(src=scriptPaths[scriptPath])
