//- -----------------------------------------------------------------------------
//- This file contains all markup related to the generic full-page webpage of the site/application.
//- The intention is to construct a generic webpage with a navbar, content, footer.
//- No page flow.
//- -----------------------------------------------------------------------------
