include ../abstracts/variables
include layout/head

block localVariables

doctype html
html(lang="en")
  +head(globalHeadProps, localHeadProps)
  body
    block content
    if scriptPaths
      each scriptPath in scriptPaths
        script(src=scriptPath)
    //- - for (let scriptPath in scriptPaths)
    //-   script(src=scriptPaths[scriptPath])
