//- -----------------------------------------------------------------------------
//- This file contains all markup related to the generic page of the site/application.
//- The intention is to construct a generic webpage with a navbar, hero, content, footer.
//- Horizontal page flow.
//- -----------------------------------------------------------------------------