//- -----------------------------------------------------------------------------
//- This file contains all markup related to the admin panel of a theme.
//- -----------------------------------------------------------------------------
