//- -----------------------------------------------------------------------------
//- When having several themes, this file contains all markup related to the
//- default one.
//- -----------------------------------------------------------------------------
