// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

a {
  color: $primary-color;
  text-decoration: none;

  @include on-event {
    color: tint($primary-color, 25%);
  }
}
