// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

$testimonial-img-size: 100px;
$testimonial-quotation-position-top: -10px;
$testimonial-quotation-position-left: -17px;
$track-transition: transform 1.1s ease-out;
$testimonial-card-transition: opacity 0.6s ease-in;
$testimonial-footer-bgc: inherit;

// General styles specific to the home page
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section { padding: 70px 0; }

// Hero Section
.hero {
  height: 90vh;
  background: linear-gradient(to bottom, rgba(color('gray', 'light'), 0.8), rgba(color('gray', 'light'), 0.9)), image('suits.jpg') no-repeat;
  background-size: cover;
  padding: 0;
}

.lg-screen-img { display: none; }

.hero-info-container {
  @include flex-center-children;
  flex-direction: column;
  width: 82%;
  height: 100%;
  margin: 0 auto;
}

.hero-info {
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
  }

  p { margin-bottom: 3rem; }

  a {
    max-width: 50%;
    margin: 0 auto;
  }
}

@include respond-to('min-large') {
  .hero {
    display: flex;
    background: #fff;

    > * { flex: 1 1; }

    &-info {
      width: 82%;
      margin: 0 auto;
    }
  }

  .lg-screen-img {
    display: initial;
    background: image('suits.jpg') no-repeat;
    background-size: cover;
  }
}

// About Section
.about { background-color: color('gray', 'off-white'); }

.about-info-container {
  @include flex-center-children;
  flex-direction: column;
  
  p + p { margin-top: 1rem; }
}

.about-info { width: 100%; }

.about-img {
  margin-top: 1rem;

  img {
    display: block;
    width: 100%;
  }
}

@include respond-to('min-medium') {
  .about-container {
    display: flex;
    flex-direction: row-reverse;

    > * { flex: 1 1; }
  }

  .about-info-container { padding: 0 4rem; }

  .about-img {
    @include flex-center-children;
  }
}

// Services Section
.services {
  @include text-color-bgc($primary-color);

  .container {
    display: flex;
    flex-direction: column;
  }

  h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .card + .card { margin-top: 2rem; }
}

@include respond-to('min-medium') {
  .about { padding-bottom: 250px; }

  .services {
    .container { flex-direction: column-reverse; }

    h2 { margin: 4rem 0 0; }
    
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 2rem;
      margin-top: -180px;
    }

    .card + .card { margin: 0; }

    .card {
      transform: translateY(0);
      transition: transform 0.25s ease-in;

      @include on-event {
        transform: translateY(-20px);
      }
    }
  }
}

// Testimonials Section
.testimonials { padding-bottom: 95px; }

.testimonials h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.testimonials .carousel-track-container {
  border-radius: 10px;
}

.testimonials .carousel-track {
  transition: $track-transition;
}

.testimonials .carousel-slide {
  @include flex-center-children;

  background-color: $primary-color;
  padding: 2rem;
}

.testimonial-card {
  @include flex-center-children;

  flex-direction: column;
  transition: $testimonial-card-transition;
  opacity: 0;
  background-color: #fff;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 10px 20px hsla(0, 0%, 0%, 0.19), 0 6px 6px hsla(0, 0%, 0%, 0.23);

  @include when-inside('.carousel-slide-current') {
    opacity: 1;
  }
}

.testimonial-quote {
  padding-top: $testimonial-quotation-position-top * -1;
  padding-left: $testimonial-quotation-position-left * -1;
}

.testimonial-quote p {
  position: relative;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;

  &::before {
    content: '“';
    position: absolute;
    top: $testimonial-quotation-position-top;
    left: $testimonial-quotation-position-left;
  }

  &::after {
    content: '”';
    line-height: 1;
    vertical-align: top;
    margin-left: 4px;
  }

  &::before,
  &::after {
    font-size: 1.9rem;
    font-weight: 700;
    color: shade($text-color, 30%);
  }
}

.testimonial-footer {
  @include flex-center-children;

  background-color: $testimonial-footer-bgc;
  padding: 0;
  margin-top: 2rem;
}

.testimonial-img img {
  display: block;
  width: $testimonial-img-size;
  height: $testimonial-img-size;
  border-radius: 50%;
}

.testimonial-info {
  color: $text-color;

  > * { margin-left: 2rem; }
}

.testimonial-name {
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 0.3rem;
}

// Contact Section
.contact {
  @include text-color-bgc($primary-color);
}

.contact-form { margin-top: 3rem; }

@include respond-to('min-medium') {
  .contact-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      'name   message'
      'email  message'
      '.      submit';
    grid-gap: 1rem 3rem;

    button {
      grid-area: submit;
      justify-self: end;
    }
  }

  .form-item {
    &.form-name { grid-area: name; }

    &.form-email { grid-area: email; }
    
    &.form-message { grid-area: message; }

    input,
    textarea {
      margin-bottom: 0;
    }

    textarea {
      box-sizing: border-box;
      max-height: 100%;
    }
  }
}
