doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    title My First Pug Template
    link(rel="stylesheet" href="css/styles.min.css")
  body
    header
    main
      h1 Hello There!
    footer
    script(src="js/bundle.js")
    