//- -----------------------------------------------------------------------------
//- This file contains markup that is specific to the home page.
//- -----------------------------------------------------------------------------

extend base-pages/base-default
include components/card

block localVariables
  -
    //- page-specific head configurations
    const localHeadProps = {
      title: 'Finest Clothing Store - Wear Clothes of Deluxe Calibur.',
      description: 'Our store sells clothes so elegant and high-quality that you will be turning heads!',
      keywords: 'shirt, pant, hats, shoes, style',
      //- paths of the stylesheets to use for this page
      stylesheetPaths: [
        'https://fonts.googleapis.com/css?family=Nunito',
        'css/styles.min.css',
      ]
    };
  -
    //- paths of javascript files to use for this page
    const scriptPaths = [
      //- "js/vendor.js",
      "js/bundle.js",
    ];
  -
    //- card items for services section
    const serviceCards = [{
      iconClasses: 'fas fa-user-tie fa-3x',
      title: 'Lorem ipsum dolor sit amet.',
      content: [
        'Lorem ipsum dolor sit amet consectetur.',
        'Lorem ipsum dolor sit amet consectetur adipisicing elit.'
      ],
    }, {
      iconClasses: 'far fa-comment fa-3x',
      title: 'Lorem ipsum dolor, sit amet consectetur adipisicing.',
      content: [
        'Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, nemo molestias.',
      ],
    }, {
      iconClasses: 'fas fa-store-alt fa-3x',
      title: 'Lorem ipsum dolor sit amet consectetur adipisicing.',
      content: [
        'Lorem ipsum dolor sit amet consectetur adipisicing elit.',
      ],
    },]

prepend stylesheets
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.2/css/all.css' integrity='sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay' crossorigin='anonymous')

//- ---------------- MARKUP FOR PAGE ----------------

append main
  section#about.about
    .container.about-container
      .about-info-container
        .about-info
          h2 Elegant clothes that actually fit.
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex quasi exercitationem omnis! Aperiam, aliquid fugit voluptas nam voluptates eligendi! Fuga?
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, maxime!
      .about-img
        +image('tailoring.jpg', 'Tailoring Mannequin')
  section#services.services
    .container
      h2 Our services will knock your socks off.
      .cards
        each cardContent in serviceCards
          +card(cardContent)
  section#testimonials.testimonials
    h2 testimonials
  section#contact.contact
    h2 contact
