// -----------------------------------------------------------------------------
// This file contains all styles related to the hero layout of the site/application.
// -----------------------------------------------------------------------------

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background: linear-gradient(to bottom, rgba($light-gray, 0.8)), url('../img/suits.jpg') no-repeat;
  background-size: cover;
}

.lg-screen-img { display: none; }

.hero-info-container {
  width: 82%;
  margin: 0 auto;
}

.hero-info {
  h1,
  p {
    margin-bottom: 1rem;
  }

  h1 { font-size: 3rem; }
}
