// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar.
// -----------------------------------------------------------------------------

$nav-link-responsive-bg-color: hsl(0, 0%, 93%);
$nav-link-hover-bg-color: hsl(0, 0%, 98%);

.mobile-nav-display {
  @include flex-space-between-children;
}

.brand-logo,
.navbar-toggle {
  font-size: 1.875rem;
}

.navbar {
  position: relative;
  padding: 1rem;

  &-toggle {
    color: $primary-color;
    cursor: pointer;
    background-color: inherit;
    border: 0;

    @include on-event {
      color: tint($primary-color, 35%);
    }
  }

  &-submenu {
    display: none;
    list-style-type: none;
  }

  & &-active {
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 15px;
  }

  li { text-align: center; }

  li + li { margin-top: 1.3rem; }

  &-link {
    display: block;
    font-size: 1.5625rem;
    background-color: $nav-link-responsive-bg-color;
    padding: 10px;
    border-radius: 12px;
  }
}

@media screen and (min-width: 1200px) {

  .mobile-nav-display { display: initial; }

  .navbar {
    @include flex-space-between-children;
    width: 88%;
    padding: 2.6875rem 0;
    margin: 0 auto;

    &-toggle { display: none; }

    & &-active,
    &-submenu {
      display: flex;
      position: initial;
    }

    & &-active { margin-top: 0; }

    &-link {
      background-color: #fff;

      @include on-event { background-color: $nav-link-hover-bg-color; }
    }

    li + li,
    li:first-of-type {
      margin: 0 1rem;
    }
  }
}
