// -----------------------------------------------------------------------------
// This file contains all styles related to the navbar.
// -----------------------------------------------------------------------------

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: $light-gray;
  padding: 30px 25px;
}

.brand-logo {
  a {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

.nav-menu {
  display: flex;
  justify-content: center;
  align-content: center;
  list-style: none;

  li + li {
    margin-left: 20px;
  }

  a {
    font-size: 1.2rem;
    padding: 15px;
  }
}
