//- -----------------------------------------------------------------------------
//- This file contains all markup related to the contact form.
//- -----------------------------------------------------------------------------

section#contact.contact
  .container
    h2 Contact Us
    p Tell us what we can do for you (tailor appointments, style consulting, etc.) and we will get back to you within 48 hours.
    form.contact-form
      .form-item.name
        label(for='contact-name') #[i.fas.fa-user]Name
        input#contact-name(name='name' placeholder='John Doe' type='text' required)
      .form-item.email
        label(for='contact-email') #[i.fas.fa-envelope]Email
        input#contact-email(name='email' placeholder='johndoe@mail.com' type='email' required)
      .form-item.message
        label(for='contact-message') #[i.fas.fa-comment-alt]Message
        textarea#contact-message(name='message' rows='7' placeholder='Your message here...' required)
      button.btn.btn-secondary.btn-shadow(type='submit') Submit
