//- -----------------------------------------------------------------------------
//- This file contains all markup related to the hero layout of the site/application.
//- -----------------------------------------------------------------------------