//- -----------------------------------------------------------------------------
//- This file contains all markup related to the hero layout of the site/application.
//- -----------------------------------------------------------------------------
.hero
  .hero-info-container
    .hero-info
      h1 Clothing of Deluxe Calibur
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi assumenda dolores accusantium quasi, possimus facilis.
      a(href='#!') Explore
  .lg-screen-img
    img(src='img/suits.jpg' alt='Tailored Suits')