//- -----------------------------------------------------------------------------
//- This file contains all markup related to the navbar.
//- -----------------------------------------------------------------------------

nav.navbar
  .brand-logo
    a(href="!#") DeluxThreads
  ul.menu
    li
      a.nav-link(href="!#") Portfolio
      a.nav-link(href="!#") About
      a.nav-link(href="!#") Services
      a.nav-link(href="!#") Testimonials
      a.nav-link(href="!#") Contact
