@charset 'utf-8';

@import 'abstracts/variables';
@import 'abstracts/functions';
@import 'abstracts/mixins';

// @import 'vendors/bootstrap.min.css';

@import 'base/reset';
@import 'base/base';
@import 'base/font';
@import 'base/typography';
@import 'base/helpers';

@import 'base-pages/base-full-page';

@import 'layout/navbar';
@import 'layout/hero';
@import 'layout/footer';

@import 'components/button';
@import 'components/card';
@import 'components/carousel';
@import 'components/form';
@import 'components/navigation';

@import 'pages/home';
@import 'pages/deluxthreads';

@import 'themes/default';
@import 'themes/admin';
